html {
    @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
    font-family: 'Overpass', sans-serif;
    background-color: rgb(226, 226, 226);
}
 
.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

